header > nav {
	display: flex;
	align-items: center;
	margin-top: 32px;
	margin-bottom: 27px;
}

header > nav img {
	margin-right: 50px;
	margin-bottom: 5px;
}

header > nav a {
	text-decoration: none;
	margin-right: 28px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 20px;
	opacity: 0.6;
}

header > nav #active {
	opacity: 1;
	font-weight: bold;
}
