main {
	display: flex;
	justify-content: space-between;
	margin-top: 27px;
}

main section {
	width: 630px;
	display: flex;
	flex-direction: column;
}

section h2 {
	margin: 0;
	padding: 0;
}

#main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	width: 630px;
	height: 331px;
	background: url(../img/bg@1x.png);
}

#info {
	margin-left: 25px;
}

#info h1 {
	padding: 0;
	margin: 25px 0 0 0;
}
#info p {
	padding: 0;
	margin: 6px 0 0 0;
}
